@page "/aboutrazor.html"
@{
    Layout = "_Layout";
}

<h1>Giới thiệu về razor</h1>
<p>
    Razor là một template engine trong .Net, nó là Template Engine mặc định 
    của ASP.NET MVC, có chức năng render (dựng) HTML từ các view (.cshtml)
    View (.cshtml) cho phép viết HTML và những code C#
</p>